<div class="row text-center text-white bg-light rounded-3 mt-4">
  <div class="col-12 text-black-50 welcome-padding">
    <main class="px-3">
      <h1>Finance Tracker</h1>
      <p class="lead">Using this application you can track stocks of various companies and also add other users as friends and see what stocks they track.</p>
      <p class="lead">
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-secondary text-black-50 fw-bold border-white bg-white' %>
      </p>
    </main>

    <footer class="mt-auto text-black-50">
      <p>Made by <a href="https://github.com/Sakova" target="_blank" class="text-black-50">Sakova</a>.</p>
    </footer>
  </div>
</div>
